<!DOCTYPE html>
<html ng-app="scrollapp">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
    <script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js">
    </script>

    <script src="js/anchorss.js">
        </script>
    <meta charset="utf-8">
    <title>AngularJS Anchor Scroll Example</title>
</head>
<body ng-controller="ItemController">
<button ng-repeat="(key, value) in terms"
        ng-click="jumpToLocation(key)">
    {{key}}
</button>
<div ng-repeat="(key, value) in terms"
     id="{{key}}">
    <h1>{{key}}<h1>
        <ol>
            <li ng-repeat="item in value">
                {{item}}
            </li>
        </ol>
</div>
</body>
</html>