<!DOCTYPE html>  
<html>  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
<body ng-app="">  
Keep HTML: <input type="checkbox" ng-model="myVar" ng-init="myVar = true">  
<div ng-if="myVar">  
<h1>Welcome to AngularJS Session!</h1>  
<p>All  Front End technologies..</p>  
<hr>  
</div>  
<p>If you uncheck the checkbox then DIV element will be removed.</p>  
<p>If you check the checkbox then DIV element will return.</p>  
</body>  
</html>  
